@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap");

/* Custom utilities */
@layer utilities {
  .text-85 {
    font-size: 85% !important;
  }
  .mt-screen {
    margin-top: 100vh !important;
  }
  .mobile-tr {
    @apply absolute mx-auto -mt-4 w-full text-center;
  }
  .focus-outline:focus {
    outline: solid 2px white;
    outline-offset: 2px;
  }
}

html,
body {
  width: 100%;
  margin: 0;
}

/* Custom styles */
a,
button,
div,
span {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hightlight-text,
.embolden-text {
  @apply text-85 mr-1 font-bold uppercase tracking-wide;
}

.link-underline {
  box-shadow: inset 0 -0.1666666667em 0 0 var(--color-white),
    inset 0 -0.3333333333em 0 0 rgba(var(--color-sky-300), 0.4);
}

.will-change {
  will-change: transform;
}
.click-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hardware-acceleration {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.gpu {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* Browse Navigation */
.pinned-navigation {
  height: 65px;
}
.pinned-navigation-container {
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* Other Navigation */
.navigation .navbar::before {
  display: block;
  position: absolute;
  top: -500px;
  width: 100%;
  height: 500px;
  background: transparent;
  content: "";
}
.navigation .navigation-content,
.main-navigation .main-navigation-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navigation .navigation-content::before {
  display: block;
  position: absolute;
  top: -500px;
  width: 100%;
  height: 500px;
  background: var(--color-zinc-900);
  content: "";
}
.navigation .navbar,
.main-navigation .navbar {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-navbar {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, rgba(0, 0, 0, 0.7)),
    color-stop(10%, rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  -webkit-transform: translate3d(0, 0, 0);
}
.navigation-content .navbar-replacement,
.main-navigation-content .navbar-replacement {
  width: 100%;
  height: 92px;
}

/* Form styles */
input.input-light:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
  -webkit-text-fill-color: var(--color-zinc-800);
  transition: background-color 5000s ease-in-out 0s;
}

input.input-light:-webkit-autofill::first-line {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

input.input-dark:-webkit-autofill {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0 1000px var(--color-zinc-700) inset;
  -webkit-text-fill-color: var(--color-white);
  transition: background-color 5000s ease-in-out 0s;
}

input.input-dark:-webkit-autofill::first-line {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

input.input-profile:-webkit-autofill {
  font-size: 1.25rem;
  -webkit-box-shadow: 0 0 0 1000px var(--color-zinc-500) inset;
  -webkit-text-fill-color: var(--color-white);
  transition: background-color 5000s ease-in-out 0s;
}

input.input-profile:-webkit-autofill::first-line {
  font-size: 1.25rem;
  font-family: "Nunito Sans", sans-serif;
}

.get-started-input input:focus-within ~ label,
.get-started-input input:not(:placeholder-shown) ~ label {
  @apply -translate-y-5 scale-75 transform px-4;
}

.get-started-input input:focus-within ~ label {
  @apply text-zinc-500;
}

.focus-input input:focus-within ~ label,
.focus-input input:not(:placeholder-shown) ~ label {
  @apply -translate-y-4 scale-75 transform px-4;
}

.focus-input input:focus-within ~ label {
  @apply text-zinc-400;
}

.auth-focus-input input:focus-within ~ label,
.auth-focus-input input:not(:placeholder-shown) ~ label {
  @apply -translate-y-4 scale-75 transform px-4;
}

.stripe-input {
  @apply block h-14 w-full rounded-sm border border-zinc-200 bg-white px-3 pt-5 text-zinc-800 focus:border-zinc-300 focus:outline-none focus:ring-0 focus:ring-inset focus:ring-zinc-300 sm:text-base;
}
.stripe-input-label {
  @apply -translate-y-4 scale-75 transform px-4 text-zinc-500;
}
.auth-focus-input input:focus-within ~ label {
  @apply text-zinc-500;
}
.selected-plan {
  @apply text-netflix-red;
}

@media only screen and (min-width: 951px) only screen and (max-width: 950px) and (min-width: 601px) {
  .selected-plan-label::after {
    border-width: 10px;
    border-bottom-width: 0;
  }
}

.selected-plan-label::after {
  content: "";
  display: block;
  border: 10px solid transparent;
  border-top-color: #e50914;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Who's watching */
.fade-in {
  opacity: 0;
  animation: fade-in 500ms ease 200ms 1 forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-no-zoom {
  opacity: 0;
  animation: fade-in-no-zoom 1000ms ease 500ms 1 forwards;
}
@keyframes fade-in-no-zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-up {
  opacity: 0;
  animation: slide-up 1200ms ease 600ms 1 forwards;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1.025rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  opacity: 0;
  animation: slide-in 500ms ease 200ms 1 forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(1.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.billboard-animations-container {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
}
.billboard-animations-container .billboard-row {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.billboard-animations-container .billboard-row {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  margin-bottom: 20px;
  background-color: var(--color-black);
  position: relative;
  padding-bottom: 40%;
}
.billboard {
  position: absolute;
  overflow: hidden;
  background-color: var(--color-black);
  width: 100%;
  height: 56.25vw;
  z-index: 0;
}
.billboard-row .billboard .hero-image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.billboard-row .billboard .hero-image-wrapper .vignette-layer {
  z-index: 8;
  position: absolute;
  left: 0;
  right: 0;
}
.billboard-row .billboard .hero-image-wrapper .hero-vignette {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(20, 20, 20, 0)),
    color-stop(15%, rgba(20, 20, 20, 0.15)),
    color-stop(29%, rgba(20, 20, 20, 0.35)),
    color-stop(44%, rgba(20, 20, 20, 0.58)),
    color-stop(68%, var(--color-zinc-900)),
    to(var(--color-zinc-900))
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    var(--color-zinc-900) 68%,
    var(--color-zinc-900) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    var(--color-zinc-900) 68%,
    var(--color-zinc-900) 100%
  );
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 14.7vw;
  top: auto;
  bottom: -1px;
  opacity: 1;
}
.hero-image-wrapper .hero-vignette {
  background-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    var(--color-zinc-900) 68%,
    var(--color-zinc-900) 100%
  );
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 14.7 vw;
  top: auto;
  bottom: -1 px;
  opacity: 1;
}
.billboard-row .billboard .hero-image-wrapper .trailer-vignette {
  background: -webkit-linear-gradient(
    13deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  background: -moz-
    oldlinear-gradient(13deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 85%);
  background: -o-linear-gradient(
    13deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 26.09%;
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.billboard-row .billboard .billboard-motion {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.billboard-row .billboard .billboard-motion.dismiss-static .static-image {
  opacity: 0;
  will-change: opacity;
}
.billboard-row .billboard .bottom-layer {
  z-index: 2;
}
.billboard-row .billboard .full-screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.billboard-row .billboard .fill-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.fill-container {
  height: 100%;
  width: 100%;
}
.billboard-row .billboard .button-layer {
  position: relative;
  z-index: 10;
}
.billboard-row .billboard .hero-image-wrapper .static-image {
  position: absolute;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  -o-transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  -moz-transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
}
.billboard-row .billboard .embedded-components {
  position: absolute;
  right: 0;
  bottom: 35%;
  padding-right: 3rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-control-buttons {
  width: 2.4vw;
  height: 2.4vw;
  position: relative;
  z-index: 20;
}

.billboard-row .billboard .info {
  position: absolute;
  top: 0;
  bottom: 35%;
  /* left: 4%; */
  left: 3rem;
  width: 36%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.billboard-row .billboard .info .billboard-title {
  display: flex;
  min-height: 10vw;
  position: relative;
  margin-bottom: 1.2vw;
}

.billboard-row .billboard .info .billboard-title .title-logo {
  max-width: 100%;
  max-height: 180px;
  margin-top: auto;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}

.billboard-row .billboard .info .billboard-title .title-logo.wide {
  max-height: 180px;
}
.billboard-row .billboard .info .billboard-title .title-logo.tall {
  max-height: 220px;
}

.billboard-row .billboard .info .synopsis {
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.25;
  width: 100%;
  font-size: 1.3vw;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  margin-top: 0.1vw;
}

.billboard-row .billboard .info .billboard-links {
  margin-top: 1.5vw;
  white-space: nowrap;
  display: flex;
  line-height: 88%;
}

.youtube-video-wrapper.inactive {
  cursor: none;
}
.youtube-video-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  z-index: 1;
}
.video-container {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.video-container .yt-video,
.video-container video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.jaw-bone-open.has-info-density.has-large-density
  .has-expanded-info-density
  .jawBoneContent {
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  margin-top: -5px;
  top: -webkit-calc(101%);
  top: -moz-calc(101%);
  top: calc(101%);
}

/* Slider */
.slider-row {
  position: relative;
  outline: 0;
  margin: 3vw 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
.row-container {
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.slider-row.title-card:not(.loading-title) {
  display: block;
}
.slider-row.title-card {
  position: relative;
  z-index: 1;
}
.slider-row.title-card .slider-refocus {
  display: block;
}
.slider-row.title-card .slider-refocus:focus-visible {
  outline: auto;
  outline-thickness: 2px;
  outline-color: white;
}
.js-focus-visible :focus:not([data-focus-visible-added]) {
  /* outline: 2px solid white; */
  outline: none;
}
.slider-row.title-card.expanded {
  /* pointer-events: none; */
  cursor: pointer;
}
.slider {
  position: relative;
  margin: 0;
  /* padding: 0 4%; */
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.slider .slider-mask.show-peek {
  overflow-x: visible;
}
.slider .slider-mask {
  overflow-x: hidden;
  padding-bottom: 1px;
}
.slider .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  /* width: 4%; */
  text-align: center;
  justify-content: center;
  display: flex;
  color: var(--color-white);
  overflow: hidden;
  outline: none;
  touch-action: pan-y;
}
.slider .handle {
  /* width: 60px; */
  width: calc(3rem - 2px);
}
@media (max-width: 640px) {
  .slider .handle {
    width: calc(1.5rem - 2px);
  }
}
.slider .handle.handleNext {
  -webkit-border-top-left-radius: 0.2vw;
  -moz-border-radius-topleft: 0.2vw;
  border-top-left-radius: 0.2vw;
  -webkit-border-bottom-left-radius: 0.2vw;
  -moz-border-radius-bottomleft: 0.2vw;
  border-bottom-left-radius: 0.2vw;
  right: 0;
}
.slider .handle.handlePrev {
  -webkit-border-top-right-radius: 0.2vw;
  -moz-border-radius-topright: 0.2vw;
  border-top-right-radius: 0.2vw;
  -webkit-border-bottom-right-radius: 0.2vw;
  -moz-border-radius-bottomright: 0.2vw;
  border-bottom-right-radius: 0.2vw;
  left: 0;
}
.handle.handlePrev:focus-visible,
.handle.handleNext:focus-visible {
  outline: auto;
}
.slider .handle.handlePrev .indicator-icon,
.slider .handle.handleNext .indicator-icon {
  display: none;
  height: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 2.5vw;
  -webkit-transition: -webkit-transform 0.1s ease-out 0s;
  transition: -webkit-transform 0.1s ease-out 0s;
  -o-transition: -o-transform 0.1s ease-out 0s;
  -moz-transition: transform 0.1s ease-out 0s, -moz-transform 0.1s ease-out 0s;
  transition: transform 0.1s ease-out 0s;
  transition: transform 0.1s ease-out 0s, -webkit-transform 0.1s ease-out 0s,
    -moz-transform 0.1s ease-out 0s, -o-transform 0.1s ease-out 0s;
}

.slider-hover-trigger-layer .pagination-indicator {
  margin: -24px 0 12px 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  display: none;
}
.slider:hover .pagination-indicator {
  display: block;
}
.slider .pagination-indicator {
  right: 52px;
}
.slider .pagination-indicator li {
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: var(--color-zinc-700);
  margin-left: 1px;
}
.slider-hover-trigger-layer .pagination-indicator .active {
  background-color: var(--color-zinc-300);
}
.slider-hover-trigger-layer .handle.active {
  cursor: pointer;
}

.slider-content {
  white-space: nowrap;
}

.slider-content.animating {
  transition: transform 0.75s ease 0s;
  pointer-events: none;
}

.slider-item {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
  /* padding: 0 2px; */
  padding: 0 0.2vw;
  cursor: pointer;
  z-index: 1;
}

.slider .slider-mask .slider-content .slider-item:hover {
  z-index: 2;
}

/* .slider .slider-mask .slider-content .slider-item:first-child {
  padding-left: 0;
}
.slider .slider-mask .slider-content .slider-item:last-child {
  padding-right: 0;
} */

@media screen and (max-width: 499px) {
  .slider .row-with-x-columns .slider-item {
    width: 33.333333%;
  }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
  .slider .row-with-x-columns .slider-item {
    width: 33.333333%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .slider .row-with-x-columns .slider-item {
    width: 25%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .slider .row-with-x-columns .slider-item {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .slider .row-with-x-columns .slider-item {
    width: 16.66666667%;
  }
}

.slider-item > div {
  border-radius: 0.2vw;
}
.boxart-size-16x9 img {
  cursor: pointer;
  border: 0;
}
.boxart-size-16x9 {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 28.125% 0;
}

.boxart-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.boxart-rounded {
  -webkit-border-radius: 0.2vw;
  -moz-border-radius: 0.2vw;
  border-radius: 0.2vw;
}
/* Slider controls */
.slider .handle svg,
.slider:hover .handle svg.hovered {
  @apply transform opacity-0 transition duration-200 ease-out;
}

.slider:hover .handle svg,
.slider .handle:focus svg {
  @apply text-zinc-300 opacity-100;
}
.slider:hover .handle .left svg,
.slider:hover .handle .right svg {
  @apply transform transition duration-200 ease-out;
}

.slider:hover .handle .left:hover svg,
.slider:hover .handle .right:hover svg,
.slider:hover .handle:focus .left svg,
.slider:hover .handle:focus .right svg {
  @apply scale-125 transform text-zinc-100 transition duration-200 ease-out;
}

.trailer-vignette {
  background: -webkit-linear-gradient(
    13deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  background: -moz-
    oldlinear-gradient(13deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 85%);
  background: -o-linear-gradient(
    13deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 26.09%;
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.video-container {
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.video-container iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.player {
  height: 100%;
  -webkit-transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
  -o-transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
  -moz-transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
  width: 100%;
}

video,
iframe {
  display: inline-block;
  vertical-align: baseline;
  min-height: initial;
}

.info {
  position: absolute;
  top: 0;
  bottom: 33%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.popup-info {
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  z-index: 10;
  display: flex;

  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.info .logo-and-text {
  width: 100%;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: -o-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -moz-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -moz-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -o-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.popup-info .logo-and-text {
  width: 100%;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: -o-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -moz-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -moz-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -o-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.info-title {
  display: flex;
  min-height: 13.2vw;
  position: relative;
  margin-bottom: 1.9vw;
}
.info-title img {
  width: stretch;
  width: -moz-stretch;
  width: -webkit-stretch;
  max-width: 33vw;
  max-height: 20vh;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
  overflow: hidden;
  margin-top: auto;
  transform-origin: bottom left;
}
.popup-info .info-title {
  display: flex;
  min-height: 13.2vw;
  position: relative;
  margin-bottom: 1.8vw;
}
.popup-info .info-title img {
  width: stretch;
  width: -moz-stretch;
  width: -webkit-stretch;
  max-width: 15vw;
  max-height: 11vh;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
  overflow: hidden;
  margin-top: auto;
  transform-origin: bottom left;
}

.mini-modal .popup-info .info-title {
  display: flex;
  min-height: 100%;
  position: relative;
  margin-bottom: -0.1vw;
  margin-left: 1.3rem;
}
.mini-modal .popup-info .info-title img {
  width: stretch;
  width: -moz-stretch;
  width: -webkit-stretch;
  max-width: 10vw;
  max-height: 9vh;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
  overflow: hidden;
  margin-top: auto;
  transform-origin: bottom left;
}

/* .preview-modal-wrapper */
.preview-modal-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  will-change: scroll-position;
  box-sizing: border-box;
  outline-offset: 2px;
  outline: 2px solid transparent;
  will-change: scroll-position;
}

.preview-modal-wrapper *,
.preview-modal-wrapper::before,
.preview-modal-wrapper::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Keep modal out of sight before it's position is calculated */
.modal-shadow {
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
}
.preview-modal-container {
  position: absolute;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  color: var(--color-white);
  will-change: transform;
}
.preview-modal-container.mini-modal {
  opacity: 0;
  top: -9999px;
  left: -9999px;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 333ms;
}
.preview-modal-wrapper.detail-modal {
  width: 100%;
  height: 100%;
}

.preview-modal-container:focus {
  outline: 0;
}

.preview-modal-container:focus-visible {
  outline: var(--color-white);
}
.preview-modal-container .preview-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  margin: 1em;
}
.preview-modal-container .preview-modal-close svg {
  width: 36px;
  height: 36px;
  background-color: var(--color-zinc-900);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 8px;
}
.preview-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black);
}
.info-btns {
  min-width: 32px;
  min-height: 32px;
  max-width: 42px;
  max-height: 42px;
}

.genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.mini-modal .genre-separator {
  display: inline-flex;
  align-items: center;
  padding-right: 0.34vw;
}
.mini-modal .genre-separator:not(:first-child):before {
  color: var(--color-zinc-500);
  content: "\2022";
  display: inline-flex;
  align-items: center;
  padding-right: 0.34vw;
  /* font-size: 1vw; */
}
.detail-modal .genre-separator {
  display: inline-flex;
  align-items: center;
  padding-right: 0.6vw;
}
.detail-modal .genre-separator:not(:first-child):before {
  color: var(--color-zinc-500);
  content: "\2022";
  display: inline-flex;
  align-items: center;
  padding-right: 0.6vw;
  font-size: 1vw;
}

.has-open-jaw {
  padding: 0 0 34vw;
}

@media screen and (max-width: 499px) {
  .has-open-jaw {
    padding: 0 0 44vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
  .has-open-jaw {
    padding: 0 0 42vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .has-open-jaw {
    padding: 0 0 44vw;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .has-open-jaw {
    padding: 0 0 39vw;
  }
}

@media screen and (min-width: 1400px) {
  .has-open-jaw {
    padding: 0 0 34vw;
  }
}
.bd {
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.preview-modal-container .player-container {
  position: relative;
  background-color: var(--color-black);
  cursor: pointer;
}

.preview-modal-container .player-container.detail-modal {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.player-container .preview-modal-audio-toggle {
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.player-container .preview-modal-playback-error {
  position: absolute;
  z-index: 1;
}

.preview-modal.info {
  background-color: var(--color-zinc-900);
  position: relative;
  will-change: transform;
}

.preview-modal.info-container {
  padding: 1.25rem;
  cursor: pointer;
}

.player-container .boxart-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 56.25%;
}
.player-container .boxart {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.player-container .story-art {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.player-container .title-treatment-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.player-container .title-treatment-wrapper {
  background: -webkit-linear-gradient(
    to top,
    var(--color-zinc-900),
    transparent 50%
  );
  background: -o-linear-gradient(
    to top,
    var(--color-zinc-900),
    transparent 50%
  );
  background: linear-gradient(to top, var(--color-zinc-900), transparent 50%);
}
/* .player-container.mini-modal .title-treatment-wrapper {
  background: none;
} */
.player-container.mini-modal .title-treatment-wrapper,
.title-card .title-treatment-wrapper {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.4) 15%,
    transparent 40%
  );
  background: -moz-
    oldlinear-gradient(
      45deg,
      rgba(0, 0, 0, 0.6) 0,
      rgba(0, 0, 0, 0.4) 15%,
      transparent 40%
    );
  background: -o-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.4) 15%,
    transparent 40%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.4) 15%,
    transparent 40%
  );
}

.player-container .title-treatment-wrapper .title-treatment {
  width: 40%;
  position: absolute;
  bottom: 5%;
  left: 3em;
}
.player-container.mini-modal .title-treatment-wrapper .title-treatment {
  left: 1.25rem;
  bottom: 6%;
  margin-bottom: 0;
}
.player-container .title-treatment-wrapper .title-treatment-logo {
  max-width: 100%;
  margin-bottom: 1.5rem;
}
.player-container.mini-modal .title-treatment-wrapper .title-treatment-logo {
  margin-bottom: 0;
}
.title-treatment-logo.wide {
  max-height: 100px;
}
.detail-modal .title-treatment-logo.wide {
  max-height: 100px;
}
.title-treatment-logo.tall {
  max-height: 88px;
}
.detail-modal .title-treatment-logo.tall {
  max-height: 148px;
}
.player-container .mini-modal.preview-modal-audio-toggle {
  bottom: 6%;
  overflow: hidden;
  right: 1.25rem;
  margin-bottom: 0;
}
.player-container .mini-modal.preview-modal-playback-error {
  bottom: 6%;
  right: 1.25rem;
  margin-bottom: 0;
}

.button-controls-container {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;
  min-height: 2em;
}

.player-container .preview-modal-audio-toggle {
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.player-container .preview-modal-audio-toggle.detail-modal {
  right: 3em;
  bottom: 5%;
  margin-bottom: 1em;
}
.player-container .preview-modal-playback-error.detail-modal {
  right: 3em;
  bottom: 5%;
  margin-bottom: 1em;
}

.player-container .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  cursor: pointer;
  margin: 1em;
}

.mini-modal .title {
  width: 40%;
  position: absolute;
  bottom: 5%;
  left: 3em;
}

.player-gradient {
  background: -webkit-linear-gradient(
    to top,
    var(--color-zinc-900),
    transparent 50%
  );
  background: -o-linear-gradient(
    to top,
    var(--color-zinc-900),
    transparent 50%
  );
  background: linear-gradient(to top, var(--color-zinc-900), transparent 50%);
}

.fade-out {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--color-black);
}

/* Watch Video */
.watch-video {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.watch-video-player-view {
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: opacity;
}

.video-canvas-container {
  inset: 0px;
  overflow: hidden;
  position: absolute;
}

.video-canvas {
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  height: 100%;
  left: 0px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transition: opacity 500ms linear 0s;
  width: 100%;
  will-change: opacity;
}
